In [9]:

# general data and data viz imports
import pandas as pd
import os

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

from copy import copy
# adjusting display restrictions 
pd.options.display.max_columns = 100
pd.options.display.max_rows = 3000
# setting preference to remove scientific notation 
pd.options.display.float_format = '{:,.2f}'.format

%matplotlib inline

In [11]:
suppression = pd.read_csv('../data/to_clean_fire_supp.csv')

suppression.dtypes

year            int64
fires           int64
acres           int64
doi_agencies    int64
total           int64
dtype: object

In [12]:
suppression.head()

   year  fires   acres   doi_agencies      total
0  1985  82591  2896147      78438000  239943000
1  1986  85907  2719162      91153000  202778000
2  1987  71300  2442296      81452000  335109000
3  1988  72750  5009290     149317000  578926000
4  1989  48949  1827310     168115000  499787000

In [14]:
suppression.columns

Index(['year', 'fires', 'acres ', 'doi_agencies', 'total'], dtype='object')

In [16]:
suppression=suppression[['year','doi_agencies', 'total']]
suppression.head()

   year  doi_agencies      total
0  1985      78438000  239943000
1  1986      91153000  202778000
2  1987      81452000  335109000
3  1988     149317000  578926000
4  1989     168115000  499787000

In [17]:
suppression.to_csv('../data/clean_fire_supp_data.csv')