In [2]:
import pandas as pd

In [2]:
area_df = pd.read_csv('../Data/area_cleaned.csv') 
pop_df = pd.read_csv('../Data/pop_cleaned.csv')

In [4]:
merge1_df = area_df.merge(pop_df, left_on='state', right_on='Area')

In [8]:
merge1_df

,Unnamed: 0_x,state,area (acres),Unnamed: 0_y,Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,Alabama,33550720,0,Alabama,"4,785,514","4,799,642","4,816,632","4,831,586","4,843,737","4,854,803","4,866,824","4,877,989","4,891,628","4,907,965",5024803,5039877
1,1,Alaska,420112000,1,Alaska,"713,982","722,349","730,810","737,626","737,075","738,430","742,575","740,983","736,624","733,603",732441,732673
2,2,Arizona,72963840,2,Arizona,"6,407,342","6,473,416","6,556,344","6,634,690","6,732,873","6,832,810","6,944,767","7,048,088","7,164,228","7,291,843",7177986,7276316
3,3,Arkansas,34036480,3,Arkansas,"2,921,998","2,941,038","2,952,876","2,960,459","2,968,759","2,979,732","2,991,815","3,003,855","3,012,161","3,020,985",3012232,3025891
4,4,California,104772480,4,California,"37,319,550","37,636,311","37,944,551","38,253,768","38,586,706","38,904,296","39,149,186","39,337,785","39,437,463","39,437,610",39499738,39237836
5,5,Colorado,66624000,5,Colorado,"5,047,539","5,121,900","5,193,660","5,270,774","5,352,637","5,454,328","5,543,844","5,617,421","5,697,155","5,758,486",5784308,5812069
6,6,Connecticut,3548160,6,Connecticut,"3,579,173","3,588,632","3,595,211","3,595,792","3,595,697","3,588,561","3,579,830","3,575,324","3,574,561","3,566,022",3600260,3605597
7,7,Delaware,1250560,7,Delaware,"899,647","907,590","915,518","924,062","933,131","942,065","949,989","957,942","966,985","976,668",991886,1003384
8,8,Florida,42085120,9,Florida,"18,846,143","19,055,607","19,302,016","19,551,678","19,853,880","20,219,111","20,627,237","20,977,089","21,254,926","21,492,056",21569932,21781128
9,9,Georgia,38042240,10,Georgia,"9,712,209","9,803,630","9,903,580","9,975,592","10,071,204","10,183,353","10,308,442","10,417,031","10,519,389","10,628,020",10725800,10799566
10,10,Hawaii,6996480,11,Hawaii,"1,364,004","1,379,562","1,395,199","1,408,822","1,415,335","1,422,999","1,428,885","1,425,763","1,423,102","1,415,615",1451911,1441553
11,11,Idaho,53487360,12,Idaho,"1,570,819","1,584,272","1,595,910","1,612,053","1,632,248","1,652,495","1,684,036","1,719,745","1,752,074","1,789,060",1847772,1900923
12,12,Illinois,37067520,13,Illinois,"12,840,545","12,867,783","12,883,029","12,895,778","12,885,092","12,859,585","12,821,709","12,779,893","12,724,685","12,667,017",12785245,12671469
13,13,Indiana,23308800,14,Indiana,"6,490,555","6,517,250","6,538,989","6,570,575","6,596,019","6,611,442","6,637,898","6,662,068","6,698,481","6,731,010",6785644,6805985
14,14,Iowa,36016640,15,Iowa,"3,050,819","3,066,772","3,076,844","3,093,935","3,110,643","3,122,541","3,133,210","3,143,734","3,149,900","3,159,596",3188669,3193079
15,15,Kansas,52660480,16,Kansas,"2,858,266","2,869,677","2,886,024","2,894,306","2,901,861","2,910,717","2,912,977","2,910,892","2,912,748","2,912,635",2935880,2934582
16,16,Kentucky,25863040,17,Kentucky,"4,348,464","4,370,817","4,387,865","4,406,906","4,416,992","4,429,126","4,440,306","4,455,590","4,464,273","4,472,345",4503958,4509394
17,17,Louisiana,33179520,18,Louisiana,"4,544,635","4,576,244","4,602,067","4,626,040","4,645,938","4,666,998","4,681,346","4,673,673","4,664,450","4,658,285",4651203,4624047
18,18,Maine,22647680,19,Maine,"1,327,651","1,328,473","1,328,094","1,328,543","1,331,217","1,329,098","1,332,348","1,335,743","1,340,123","1,345,770",1362280,1372247
19,19,Maryland,7940480,20,Maryland,"5,788,784","5,840,241","5,888,375","5,925,197","5,960,064","5,988,528","6,007,014","6,028,186","6,042,153","6,054,954",6172679,6165129
20,20,Massachusetts,6755200,21,Massachusetts,"6,566,440","6,614,218","6,664,269","6,715,158","6,764,864","6,797,484","6,827,280","6,863,560","6,885,720","6,894,883",7022220,6984723
21,21,Michigan,61958400,22,Michigan,"9,877,597","9,883,053","9,898,289","9,914,802","9,932,033","9,934,483","9,954,117","9,976,752","9,987,286","9,984,795",10067664,10050811
22,22,Minnesota,55643520,23,Minnesota,"5,310,934","5,346,620","5,377,500","5,414,722","5,452,665","5,484,002","5,525,360","5,569,283","5,608,762","5,640,053",5707165,5707390
23,23,Mississippi,30997760,24,Mississippi,"2,970,615","2,979,147","2,984,599","2,989,839","2,991,892","2,990,231","2,990,595","2,990,674","2,982,879","2,978,227",2956870,2949965
24,24,Missouri,44613760,25,Missouri,"5,996,089","6,011,182","6,026,027","6,042,989","6,059,130","6,075,411","6,091,384","6,111,382","6,125,986","6,140,475",6154481,6168187
25,25,Montana,94109440,26,Montana,"990,730","997,518","1,004,168","1,014,158","1,022,657","1,031,495","1,042,137","1,053,862","1,061,818","1,070,123",1086193,1104271
26,26,Nebraska,49509120,27,Nebraska,"1,829,591","1,840,914","1,853,691","1,865,813","1,879,955","1,892,059","1,906,483","1,916,998","1,925,512","1,932,571",1961455,1963692
27,27,Nevada,70762880,28,Nevada,"2,702,483","2,713,114","2,744,670","2,776,956","2,818,935","2,868,531","2,919,555","2,972,097","3,030,725","3,090,771",3114071,3143991
28,28,New Hampshire,5984640,29,New Hampshire,"1,316,807","1,320,444","1,324,677","1,327,272","1,334,257","1,337,480","1,343,694","1,350,395","1,355,064","1,360,783",1377848,1388992
29,29,New Jersey,5582080,30,New Jersey,"8,799,451","8,828,552","8,845,671","8,857,821","8,867,277","8,870,312","8,873,584","8,888,147","8,891,730","8,891,258",9279743,9267130
30,30,New Mexico,77819520,31,New Mexico,"2,064,614","2,080,707","2,087,715","2,092,833","2,090,236","2,090,071","2,092,555","2,092,844","2,093,754","2,099,634",2117566,2115877
31,31,New York,34864000,32,New York,"19,399,956","19,499,921","19,574,362","19,626,488","19,653,431","19,657,321","19,636,391","19,593,849","19,544,098","19,463,131",20154933,19835913
32,32,North Carolina,34445440,33,North Carolina,"9,574,586","9,658,913","9,751,810","9,846,717","9,937,295","10,037,218","10,161,802","10,275,758","10,391,358","10,501,384",10457177,10551162
33,33,North Dakota,45250560,34,North Dakota,"674,752","685,526","702,227","723,149","738,736","755,537","756,114","756,755","760,062","763,724",778962,774948
34,34,Ohio,28689920,35,Ohio,"11,539,449","11,545,735","11,550,971","11,579,692","11,606,573","11,622,315","11,640,060","11,665,706","11,680,892","11,696,507",11790587,11780017
35,35,Oklahoma,44737920,36,Oklahoma,"3,760,014","3,788,824","3,819,320","3,853,891","3,879,187","3,910,518","3,928,143","3,933,602","3,943,488","3,960,676",3962031,3986639
36,36,Oregon,62967040,37,Oregon,"3,837,614","3,872,672","3,900,102","3,924,110","3,965,447","4,018,542","4,093,271","4,147,294","4,183,538","4,216,116",4241544,4246155
37,37,Pennsylvania,29477120,38,Pennsylvania,"12,711,406","12,747,052","12,769,123","12,779,538","12,792,392","12,789,838","12,788,468","12,794,679","12,809,107","12,798,883",12989625,12964056
38,38,Rhode Island,988800,39,Rhode Island,"1,053,994","1,053,829","1,054,893","1,055,560","1,056,511","1,056,886","1,057,816","1,056,554","1,059,338","1,058,158",1096229,1095610
39,39,South Carolina,20484480,40,South Carolina,"4,635,846","4,672,655","4,719,027","4,766,469","4,826,858","4,896,006","4,963,031","5,027,102","5,091,702","5,157,702",5130729,5190705
40,40,South Dakota,49357440,41,South Dakota,"816,193","823,740","833,859","842,751","849,670","854,663","863,693","873,732","879,386","887,127",887099,895376
41,41,Tennessee,26973440,42,Tennessee,"6,355,518","6,400,298","6,455,752","6,496,943","6,544,617","6,595,354","6,651,277","6,714,748","6,778,180","6,830,325",6920119,6975218
42,42,Texas,171904640,43,Texas,"25,241,897","25,645,504","26,084,120","26,479,646","26,963,092","27,468,531","27,914,064","28,291,024","28,624,564","28,986,794",29217653,29527941
43,43,Utah,54338560,44,Utah,"2,775,413","2,814,797","2,854,146","2,898,773","2,938,327","2,983,626","3,044,241","3,103,540","3,155,153","3,203,383",3281684,3337975
44,44,Vermont,6153600,45,Vermont,"625,886","627,197","626,361","626,603","625,693","625,810","624,366","625,132","624,802","624,046",642495,645570
45,45,Virginia,27372160,46,Virginia,"8,024,004","8,102,437","8,187,456","8,255,861","8,315,430","8,367,303","8,417,651","8,471,011","8,510,920","8,556,642",8632044,8642274
46,46,Washington,45633920,47,Washington,"6,743,009","6,827,479","6,898,599","6,966,252","7,057,531","7,167,287","7,299,961","7,427,951","7,526,793","7,614,024",7718785,7738692
47,47,West Virginia,15507840,48,West Virginia,"1,854,265","1,856,606","1,857,446","1,854,768","1,850,569","1,843,332","1,832,435","1,818,683","1,805,953","1,795,263",1789798,1782959
48,48,Wisconsin,41921920,49,Wisconsin,"5,690,538","5,705,840","5,720,825","5,738,012","5,753,199","5,762,927","5,775,170","5,793,147","5,809,319","5,824,581",5892323,5895908
49,49,Wyoming,62603520,50,Wyoming,"564,531","567,491","576,656","582,620","583,159","586,389","585,243","579,994","579,054","580,116",577267,578803
50,50,District of Columbia,43520,8,District of Columbia,"605,282","620,290","635,737","651,559","663,603","677,014","687,576","697,079","704,147","708,253",690093,670050

In [11]:
merge1_df.drop(columns = [merge1_df.columns[0], merge1_df.columns[3], 'Area'], inplace =True)

In [12]:
merge1_df

,state,area (acres),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Alabama,33550720,"4,785,514","4,799,642","4,816,632","4,831,586","4,843,737","4,854,803","4,866,824","4,877,989","4,891,628","4,907,965",5024803,5039877
1,Alaska,420112000,"713,982","722,349","730,810","737,626","737,075","738,430","742,575","740,983","736,624","733,603",732441,732673
2,Arizona,72963840,"6,407,342","6,473,416","6,556,344","6,634,690","6,732,873","6,832,810","6,944,767","7,048,088","7,164,228","7,291,843",7177986,7276316
3,Arkansas,34036480,"2,921,998","2,941,038","2,952,876","2,960,459","2,968,759","2,979,732","2,991,815","3,003,855","3,012,161","3,020,985",3012232,3025891
4,California,104772480,"37,319,550","37,636,311","37,944,551","38,253,768","38,586,706","38,904,296","39,149,186","39,337,785","39,437,463","39,437,610",39499738,39237836
5,Colorado,66624000,"5,047,539","5,121,900","5,193,660","5,270,774","5,352,637","5,454,328","5,543,844","5,617,421","5,697,155","5,758,486",5784308,5812069
6,Connecticut,3548160,"3,579,173","3,588,632","3,595,211","3,595,792","3,595,697","3,588,561","3,579,830","3,575,324","3,574,561","3,566,022",3600260,3605597
7,Delaware,1250560,"899,647","907,590","915,518","924,062","933,131","942,065","949,989","957,942","966,985","976,668",991886,1003384
8,Florida,42085120,"18,846,143","19,055,607","19,302,016","19,551,678","19,853,880","20,219,111","20,627,237","20,977,089","21,254,926","21,492,056",21569932,21781128
9,Georgia,38042240,"9,712,209","9,803,630","9,903,580","9,975,592","10,071,204","10,183,353","10,308,442","10,417,031","10,519,389","10,628,020",10725800,10799566
10,Hawaii,6996480,"1,364,004","1,379,562","1,395,199","1,408,822","1,415,335","1,422,999","1,428,885","1,425,763","1,423,102","1,415,615",1451911,1441553
11,Idaho,53487360,"1,570,819","1,584,272","1,595,910","1,612,053","1,632,248","1,652,495","1,684,036","1,719,745","1,752,074","1,789,060",1847772,1900923
12,Illinois,37067520,"12,840,545","12,867,783","12,883,029","12,895,778","12,885,092","12,859,585","12,821,709","12,779,893","12,724,685","12,667,017",12785245,12671469
13,Indiana,23308800,"6,490,555","6,517,250","6,538,989","6,570,575","6,596,019","6,611,442","6,637,898","6,662,068","6,698,481","6,731,010",6785644,6805985
14,Iowa,36016640,"3,050,819","3,066,772","3,076,844","3,093,935","3,110,643","3,122,541","3,133,210","3,143,734","3,149,900","3,159,596",3188669,3193079
15,Kansas,52660480,"2,858,266","2,869,677","2,886,024","2,894,306","2,901,861","2,910,717","2,912,977","2,910,892","2,912,748","2,912,635",2935880,2934582
16,Kentucky,25863040,"4,348,464","4,370,817","4,387,865","4,406,906","4,416,992","4,429,126","4,440,306","4,455,590","4,464,273","4,472,345",4503958,4509394
17,Louisiana,33179520,"4,544,635","4,576,244","4,602,067","4,626,040","4,645,938","4,666,998","4,681,346","4,673,673","4,664,450","4,658,285",4651203,4624047
18,Maine,22647680,"1,327,651","1,328,473","1,328,094","1,328,543","1,331,217","1,329,098","1,332,348","1,335,743","1,340,123","1,345,770",1362280,1372247
19,Maryland,7940480,"5,788,784","5,840,241","5,888,375","5,925,197","5,960,064","5,988,528","6,007,014","6,028,186","6,042,153","6,054,954",6172679,6165129
20,Massachusetts,6755200,"6,566,440","6,614,218","6,664,269","6,715,158","6,764,864","6,797,484","6,827,280","6,863,560","6,885,720","6,894,883",7022220,6984723
21,Michigan,61958400,"9,877,597","9,883,053","9,898,289","9,914,802","9,932,033","9,934,483","9,954,117","9,976,752","9,987,286","9,984,795",10067664,10050811
22,Minnesota,55643520,"5,310,934","5,346,620","5,377,500","5,414,722","5,452,665","5,484,002","5,525,360","5,569,283","5,608,762","5,640,053",5707165,5707390
23,Mississippi,30997760,"2,970,615","2,979,147","2,984,599","2,989,839","2,991,892","2,990,231","2,990,595","2,990,674","2,982,879","2,978,227",2956870,2949965
24,Missouri,44613760,"5,996,089","6,011,182","6,026,027","6,042,989","6,059,130","6,075,411","6,091,384","6,111,382","6,125,986","6,140,475",6154481,6168187
25,Montana,94109440,"990,730","997,518","1,004,168","1,014,158","1,022,657","1,031,495","1,042,137","1,053,862","1,061,818","1,070,123",1086193,1104271
26,Nebraska,49509120,"1,829,591","1,840,914","1,853,691","1,865,813","1,879,955","1,892,059","1,906,483","1,916,998","1,925,512","1,932,571",1961455,1963692
27,Nevada,70762880,"2,702,483","2,713,114","2,744,670","2,776,956","2,818,935","2,868,531","2,919,555","2,972,097","3,030,725","3,090,771",3114071,3143991
28,New Hampshire,5984640,"1,316,807","1,320,444","1,324,677","1,327,272","1,334,257","1,337,480","1,343,694","1,350,395","1,355,064","1,360,783",1377848,1388992
29,New Jersey,5582080,"8,799,451","8,828,552","8,845,671","8,857,821","8,867,277","8,870,312","8,873,584","8,888,147","8,891,730","8,891,258",9279743,9267130
30,New Mexico,77819520,"2,064,614","2,080,707","2,087,715","2,092,833","2,090,236","2,090,071","2,092,555","2,092,844","2,093,754","2,099,634",2117566,2115877
31,New York,34864000,"19,399,956","19,499,921","19,574,362","19,626,488","19,653,431","19,657,321","19,636,391","19,593,849","19,544,098","19,463,131",20154933,19835913
32,North Carolina,34445440,"9,574,586","9,658,913","9,751,810","9,846,717","9,937,295","10,037,218","10,161,802","10,275,758","10,391,358","10,501,384",10457177,10551162
33,North Dakota,45250560,"674,752","685,526","702,227","723,149","738,736","755,537","756,114","756,755","760,062","763,724",778962,774948
34,Ohio,28689920,"11,539,449","11,545,735","11,550,971","11,579,692","11,606,573","11,622,315","11,640,060","11,665,706","11,680,892","11,696,507",11790587,11780017
35,Oklahoma,44737920,"3,760,014","3,788,824","3,819,320","3,853,891","3,879,187","3,910,518","3,928,143","3,933,602","3,943,488","3,960,676",3962031,3986639
36,Oregon,62967040,"3,837,614","3,872,672","3,900,102","3,924,110","3,965,447","4,018,542","4,093,271","4,147,294","4,183,538","4,216,116",4241544,4246155
37,Pennsylvania,29477120,"12,711,406","12,747,052","12,769,123","12,779,538","12,792,392","12,789,838","12,788,468","12,794,679","12,809,107","12,798,883",12989625,12964056
38,Rhode Island,988800,"1,053,994","1,053,829","1,054,893","1,055,560","1,056,511","1,056,886","1,057,816","1,056,554","1,059,338","1,058,158",1096229,1095610
39,South Carolina,20484480,"4,635,846","4,672,655","4,719,027","4,766,469","4,826,858","4,896,006","4,963,031","5,027,102","5,091,702","5,157,702",5130729,5190705
40,South Dakota,49357440,"816,193","823,740","833,859","842,751","849,670","854,663","863,693","873,732","879,386","887,127",887099,895376
41,Tennessee,26973440,"6,355,518","6,400,298","6,455,752","6,496,943","6,544,617","6,595,354","6,651,277","6,714,748","6,778,180","6,830,325",6920119,6975218
42,Texas,171904640,"25,241,897","25,645,504","26,084,120","26,479,646","26,963,092","27,468,531","27,914,064","28,291,024","28,624,564","28,986,794",29217653,29527941
43,Utah,54338560,"2,775,413","2,814,797","2,854,146","2,898,773","2,938,327","2,983,626","3,044,241","3,103,540","3,155,153","3,203,383",3281684,3337975
44,Vermont,6153600,"625,886","627,197","626,361","626,603","625,693","625,810","624,366","625,132","624,802","624,046",642495,645570
45,Virginia,27372160,"8,024,004","8,102,437","8,187,456","8,255,861","8,315,430","8,367,303","8,417,651","8,471,011","8,510,920","8,556,642",8632044,8642274
46,Washington,45633920,"6,743,009","6,827,479","6,898,599","6,966,252","7,057,531","7,167,287","7,299,961","7,427,951","7,526,793","7,614,024",7718785,7738692
47,West Virginia,15507840,"1,854,265","1,856,606","1,857,446","1,854,768","1,850,569","1,843,332","1,832,435","1,818,683","1,805,953","1,795,263",1789798,1782959
48,Wisconsin,41921920,"5,690,538","5,705,840","5,720,825","5,738,012","5,753,199","5,762,927","5,775,170","5,793,147","5,809,319","5,824,581",5892323,5895908
49,Wyoming,62603520,"564,531","567,491","576,656","582,620","583,159","586,389","585,243","579,994","579,054","580,116",577267,578803
50,District of Columbia,43520,"605,282","620,290","635,737","651,559","663,603","677,014","687,576","697,079","704,147","708,253",690093,670050

In [13]:
merge1_df.to_csv('../Data/stateinfo_cleaned.csv')

In [5]:
merge1 = pd.read_csv('../Data/stateinfo.csv')

In [6]:
merge1.head()

   Month  Year State  area (acres)  population
0      1  2016    AL      33550720     4866824
1      2  2016    AL      33550720     4866824
2      3  2016    AL      33550720     4866824
3      4  2016    AL      33550720     4866824
4      5  2016    AL      33550720     4866824

In [9]:
merge1['State'].value_counts()

AL    72
PA    72
NV    72
NH    72
NJ    72
NM    72
NY    72
NC    72
ND    72
OH    72
OK    72
OR    72
RI    72
MT    72
SC    72
SD    72
TN    72
TX    72
UT    72
VT    72
VA    72
WA    72
WV    72
WI    72
NE    72
MO    72
AK    72
ID    72
AZ    72
AR    72
CA    72
CO    72
CT    72
DE    72
DC    72
FL    72
GA    72
HI    72
IL    72
MS    72
IN    72
IA    72
KS    72
KY    72
LA    72
ME    72
MD    72
MA    72
MI    72
MN    72
WY    72
Name: State, dtype: int64

In [10]:
merge1['Year'].value_counts()

2016    612
2017    612
2018    612
2019    612
2020    612
2021    612
Name: Year, dtype: int64

In [12]:
merge1['Month'].value_counts()

1     306
2     306
3     306
4     306
5     306
6     306
7     306
8     306
9     306
10    306
11    306
12    306
Name: Month, dtype: int64

In [14]:
merge1['area (acres)'].value_counts()

33550720     72
29477120     72
70762880     72
5984640      72
5582080      72
77819520     72
34864000     72
34445440     72
45250560     72
28689920     72
44737920     72
62967040     72
988800       72
94109440     72
20484480     72
49357440     72
26973440     72
171904640    72
54338560     72
6153600      72
27372160     72
45633920     72
15507840     72
41921920     72
49509120     72
44613760     72
420112000    72
53487360     72
72963840     72
34036480     72
104772480    72
66624000     72
3548160      72
1250560      72
43520        72
42085120     72
38042240     72
6996480      72
37067520     72
30997760     72
23308800     72
36016640     72
52660480     72
25863040     72
33179520     72
22647680     72
7940480      72
6755200      72
61958400     72
55643520     72
62603520     72
Name: area (acres), dtype: int64

In [15]:
merge1['population'].value_counts()

4866824     12
10501384    12
778962      12
763724      12
760062      12
            ..
2934582     12
2935880     12
2912635     12
2912748     12
578803      12
Name: population, Length: 306, dtype: int64