Blank

In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV

from sklearn.preprocessing import StandardScaler

import pickle

In [30]:
df1 = pd.read_csv('../../Data/complete_fire.csv')

In [31]:
df1.head()

,unique_fire_identifier,lattitude,longitude,acres_burned,fire_cause,incident_name,IsFSAssisted,origin_county,state,year,...,area (acres),population,d0,d1,d2,d3,d4,DSCI_avg,DSCI_summed,precipitation(in)
0,2003-WYCMX-200237,-105.563067,44.603340,139.091837,Unknown,SCHWARTZ,1.0,Campbell,WY,2003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-CABDU-006784,-117.076679,34.733894,1906.698008,Unknown,MENTONE,1.0,San Bernardino,CA,2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-IDGBK-000002,-116.216680,43.666673,685.728842,Unknown,NIFC RAMP SUPPORT,1.0,Ada,ID,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-IDCTF-008902,-111.426912,42.096336,20.000000,Unknown,St. Charles RX,0.0,Bear Lake,ID,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-AZPNF-000975,-112.072414,34.598306,77.946287,Unknown,Mingus/Cherry Rx,0.0,Yavapai,AZ,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df1.dropna(inplace = True)

In [33]:
df1.shape

(167273, 23)

In [34]:
conditions = [df1['acres_burned'] <= .25,
             (df1['acres_burned'] > .25) & (df1['acres_burned'] <= 9.9),
             (df1['acres_burned'] > 9.9) & (df1['acres_burned'] <= 99.99),
             (df1['acres_burned'] > 99.99) & (df1['acres_burned'] <= 299),
             (df1['acres_burned'] > 299) & (df1['acres_burned'] <= 999),
             (df1['acres_burned'] > 999) & (df1['acres_burned'] <= 5000),
             (df1['acres_burned'] > 5000) & (df1['acres_burned'] <= 9999),
             (df1['acres_burned'] > 9999) & (df1['acres_burned'] <= 49_999),
             (df1['acres_burned'] > 49_999) & (df1['acres_burned'] <= 100_000),
              (df1['acres_burned'] > 100_000)
                
             ]
# choices = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
choices = [0,1,2,3,4,5,6,7,8,9]

df1['class'] = np.select(conditions, choices, default = 'A')

In [35]:
df1.drop(columns = ['incident_name', 'unique_fire_identifier', 'IsFSAssisted','DSCI_summed', 'DSCI_avg'], inplace = True)

In [36]:
df1['origin_county'].value_counts(normalize = True)

Los Angeles      0.080396
Riverside        0.020876
Coconino         0.017462
Beltrami         0.012686
Lake             0.011598
                   ...
Wake             0.000006
Estill           0.000006
Collingsworth    0.000006
Orangeburg       0.000006
Sharkey          0.000006
Name: origin_county, Length: 1335, dtype: float64

In [38]:
rf = RandomForestClassifier()

In [39]:
df1 = pd.get_dummies(df1, columns = [ 'origin_county', 'state'], drop_first = True)

In [40]:
df1.shape

(167273, 1396)

In [41]:
X = df1.drop(columns = ['acres_burned', 'class', 'fire_cause'])
y = df1['class']

In [42]:
columns = list(X.columns)
with open('./columns_list.pkl', 'wb') as pickle_out:
    columns = pickle.dump(columns, pickle_out)

In [16]:
with open('./columns_list2.pkl', 'rb') as pickle_in:
    columns2 = pickle.load(pickle_in)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5, stratify = y)

In [44]:
rf = RandomForestClassifier(n_estimators = 10)

In [45]:
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [46]:
preds = rf.predict(X_test)

In [47]:
preds

array(['5', '2', '0', ..., '5', '1', '3'], dtype=object)

In [28]:
X_test.head(25)

,lattitude,longitude,year,month,value,anomaly,area (acres),population,d0,d1,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
196891,-122.283297,40.399655,2021,8,77.1,3.4,104772480.0,39237836.0,0.0000,4.6280,...,0,0,0,0,0,0,0,0,0,0
179328,-100.954180,48.036945,2021,5,52.8,-0.9,45250560.0,774948.0,1.9050,5.1050,...,0,0,0,0,0,0,0,0,0,0
152569,-111.783894,35.320955,2020,8,84.1,6.3,72963840.0,7177986.0,9.0275,35.4700,...,0,0,0,0,0,0,0,0,0,0
148893,-120.464459,46.056950,2020,7,64.8,0.7,45633920.0,7718785.0,13.0600,11.2825,...,0,0,0,0,0,0,1,0,0,0
152135,-116.963699,33.991534,2020,7,76.6,1.9,104772480.0,39499738.0,10.9050,27.0450,...,0,0,0,0,0,0,0,0,0,0
119885,-122.415397,41.424955,2019,8,76.8,3.1,104772480.0,39437610.0,6.2675,0.2725,...,0,0,0,0,0,0,0,0,0,0
69278,-116.196513,43.261796,2017,8,66.9,3.3,53487360.0,1719745.0,30.3900,7.7000,...,0,0,0,0,0,0,0,0,0,0
78248,-110.455111,33.292805,2018,1,47.6,6.9,72963840.0,7164228.0,0.0000,59.7100,...,0,0,0,0,0,0,0,0,0,0
114802,-114.502612,35.752565,2019,7,81.9,2.2,72963840.0,7291843.0,4.7460,0.0000,...,0,0,0,0,0,0,0,0,0,0
193760,-111.032212,40.459146,2021,8,70.9,1.5,54338560.0,3337975.0,0.0000,0.0000,...,0,0,0,1,0,0,0,0,0,0
184445,-122.656015,46.535496,2021,6,64.6,6.9,45633920.0,7738692.0,26.2560,20.6800,...,0,0,0,0,0,0,1,0,0,0
46380,-118.586123,35.251116,2016,8,76.2,2.5,104772480.0,39149186.0,16.4100,24.5700,...,0,0,0,0,0,0,0,0,0,0
137614,-108.121010,37.328946,2020,4,43.4,0.9,66624000.0,5784308.0,15.7175,32.5450,...,0,0,0,0,0,0,0,0,0,0
132202,-84.167834,30.147176,2020,2,63.6,4.2,42085120.0,21569932.0,26.5150,3.9250,...,0,0,0,0,0,0,0,0,0,0
197274,-118.669692,34.552955,2021,8,77.1,3.4,104772480.0,39237836.0,0.0000,4.6280,...,0,0,0,0,0,0,0,0,0,0
39623,-82.470283,30.457446,2016,6,81.9,2.4,42085120.0,20627237.0,0.0000,0.0000,...,0,0,0,0,0,0,0,0,0,0
196655,-108.792311,45.714287,2021,8,64.7,0.6,94109440.0,1104271.0,0.0000,1.3000,...,0,0,0,0,0,0,0,0,0,0
46431,-104.358711,45.913047,2016,8,64.4,0.3,94109440.0,1042137.0,30.2260,16.3820,...,0,0,0,0,0,0,0,0,0,0
92782,-108.251111,39.941836,2018,7,70.0,2.9,66624000.0,5697155.0,6.8340,14.7820,...,0,0,0,0,0,0,0,0,0,0
105202,-109.062112,44.137637,2019,4,41.1,2.3,62603520.0,580116.0,20.8460,3.0820,...,0,0,0,0,0,0,0,0,0,1
45926,-123.492792,44.156116,2016,8,66.7,2.8,62967040.0,4093271.0,49.8860,40.4900,...,0,0,0,0,0,0,0,0,0,0
153307,-105.378337,44.731837,2020,8,67.7,4.3,62603520.0,577267.0,18.6725,36.1325,...,0,0,0,0,0,0,0,0,0,1
66140,-108.710011,37.321616,2017,7,69.4,2.3,66624000.0,5617421.0,30.7650,0.0000,...,0,0,0,0,0,0,0,0,0,0
135745,-81.952704,34.002424,2020,4,62.1,0.2,20484480.0,5130729.0,0.0000,0.0000,...,0,0,0,0,0,0,0,0,0,0
107615,-105.127910,39.133886,2019,5,47.9,-3.9,66624000.0,5758486.0,6.4550,0.1500,...,0,0,0,0,0,0,0,0,0,0

In [49]:
rf.score(X_train, y_train), rf.score(X_test, y_test)

(0.9695984185438488, 0.6089337382529473)

In [50]:
with open('./rfmodel.pkl', 'wb') as pickle_out:
    pickle_out = pickle.dump(rf, pickle_out)

In [51]:
with open('./rfmodel.pkl', 'rb') as pickle_in:
    pickled = pickle.load(pickle_in)

In [52]:
pickled.predict(X_test)

array(['5', '2', '0', ..., '5', '1', '3'], dtype=object)